@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
:root {
  --body-bg-color: #F2F2F2;
  --element-bg-color: #FFF;
  --font-color: #111517;
}

.dark-mode {
  --body-bg-color: #202C36;
  --element-bg-color: #2B3844;
  --font-color: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-bg-color);
  color: var(--font-color);
}

input:focus,
select:focus {
  outline: none;
}

main {
  min-height: 100vh;
}

.link:hover {
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
}

.header {
  background-color: var(--element-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 80px;
  width: 100%;
  padding: 30px 16px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header h1 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 800;
}

.header__dark-mode-button {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__dark-mode-button .dark-mode-caption {
  display: inline-block;
  margin-left: 8px;
  line-height: 1.5;
  height: 16px;
  width: 60px;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__dark-mode-button .dark-mode-switch {
  display: none;
}

@media (min-width: 760px) {
  .header h1 {
    font-size: 2.4rem;
  }
}

.search-area {
  padding: 0 16px;
  margin: 24px auto;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 343px;
  height: 48px;
  background-color: var(--element-bg-color);
  padding: 16px 29px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.search-box {
  font-size: 1.2rem;
  line-height: 2rem;
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 12px;
}

input[type=text] {
  color: var(--font-color);
}

.region-filter {
  position: relative;
  max-width: 200px;
  height: 48px;
  margin-top: 20px;
}

.region-filter__select-box {
  position: relative;
  background-color: var(--element-bg-color);
  background-repeat: no-repeat;
  background-position: right 18px top 20px;
  font-size: 1.2rem;
  line-height: 1;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 18px 30px 18px 24px;
  position: relative;
}

.select-box-arrow {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.region-filter__select-box:hover {
  cursor: pointer;
}

.select-box-arrow.open {
  transform: rotate(180deg);
}

.region-filter__select-options {
  display: none;
  background-color: var(--element-bg-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  font-size: 1.2rem;
}

.region-filter__select-options.open {
  display: block;
}

.region-filter__select-options .select-option {
  padding: 10px 24px;
}
.region-filter__select-options .select-option:hover {
  cursor: pointer;
  background-color: var(--body-bg-color);
}


.select-option.selected {
  background-color: var(--body-bg-color);
}

@media (min-width: 760px) {
  .search-area {
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    margin: 45px auto;
    max-width: 1280px;
    align-items: center;
  }

  .search-container {
    margin: 0;
    width: 343px;
  }
  .region-filter {
    margin: 0;
    width: 200px;
  }
}

@media (min-width: 1440px) {
  .search-container {
    max-width: 480px;
    width: 480px;
    height: 56px;
  }
  .region-filter {
   height: 56px;
  }
  .region-filter__select-box {
    padding: 22px 30px 22px 24px;
   }
   .select-box-arrow {
    top: 24px;
  }
}

.country-list {
  margin: 0 auto;
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fill, 264px);
  justify-content: center;
  gap: 80px;
  padding-bottom: 80px;
}

.item-container {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  background-color: var(--element-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-container__flag {
  height: 160px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.24);
  border-radius: 5px 5px 0 0;
}
.item-container__flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.item-container__outline {
  height: 176px;
  padding: 24px;
}
.item-container__outline__country-name {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 800;
  margin-bottom: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-container__outline__data {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-container__outline__data .data-name {
  font-weight: 600;
}

.item-container:hover {
  cursor: pointer;
}

.detail-info-area {
  width: 100%;
  height: auto;
  padding: 40px 28px;
}

.back-button-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.back-button {
  position: relative;
  max-width: 104px;
  height: 32px;
  background-color: var(--element-bg-color);
  font-size: 1.4rem;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  text-align: right;
  line-height: 33px;
  padding: 0 23px 0 24.5px;
  margin-bottom: 32px;
}

.back-icon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.detail-info-container {
  background-color: var(--body-bg-color);
  margin: 0 auto;
  max-width: 320px;
}
.detail-info-container__flag {
  height: 229px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.detail-info-container__flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.detail-info-container__outline {
  padding: 24px 0;
}
.country-name {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 21px;
}
.data-group-1 p,
.data-group-2 p {
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 300;
  margin-bottom: 5px;
}
.data-name {
  font-weight: 600;
}
.detail-info-container__outline .data-group1,
.detail-info-container__outline .data-group2 {
  margin-bottom: 30px;
}
.border-country {
  font-size: 1.2rem;
  font-weight: 300;
  color: light;
  display: inline-block;
  background-color: var(--element-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 96px;
  margin: 2.5px;
  padding: 0 10px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}
.detail-info-container__outline .neighbor-country:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 760px) {
  .detail-info-area__back-button {
    max-width: 136px;
    width: 136px;
    height: 40px;
    line-height: 40px;
    padding: 0 39px 0 33px;
    font-size: 1.6rem;
    background-position: 33px 50%;
  }
  .detail-info-container {
    max-width: 1280px;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .detail-info-container__flag {
    width: 560px;
    height: 401px;
  }
  .detail-info-container__outline {
    width: 560px;
    display: flex;
    justify-content: flex-end;
  }
  .detail-info-container__outline {
    display: flex;
    flex-wrap: wrap;
    width: 598px;
  }
  .country-name {
    width: 100%;
  }
  .data-group-1,
  .data-group-2 {
    width: 50%;
  }
  .borders {
    margin-top: 16px;
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .detail-info-container {
    flex-direction: row;
    width: 1280px;
  }
  .detail-info-container__flag {
    width: 560px;
    height: 401px;
  }
  .detail-info-container__outline {
    padding: 24px 24px 24px 124px;
    width: 718px;
    display: flex;
    justify-content: flex-end;
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.options-list.open {
  display: block;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.not-found-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  height: 50vh;
}

.back-to-home-btn {
  background-color: var(--element-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 20px;
  width: auto;
}
